body{
  margin:0px auto 0px auto;
  width: 1000px;
}
header{
  background: #ccc;
}
main{
  background: #ddd;
}

header>div {
  text-align: center;
}
.logo{
  display: block;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center
}

nav {
  width: 100%;
  /* border: 1px solid black; */
  text-align: center;
}

nav li{
  display: inline-block;
  width: 16%;
  text-align: center;
  background-color: rgb(238, 187, 124);
  box-shadow: 0 0 10px rgb(199, 114, 17);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

nav li a {
  display:block;

}

section{
  text-align: center;
}

section>h2 {
border-bottom: 1px solid rgb(230, 145, 48);
border-top: 1px solid rgb(230, 145, 48);
font-size: 120%;
padding-top: 10px;
padding-bottom: 10px;
margin-bottom: 10px;
text-transform: uppercase;
}

article{
  overflow: auto;
  padding: 10px;
  width: 650px;
  margin: 0px auto 0px auto;
}

section img{
  width: 300px;
  /* margin:20px; */
}

.column_left{
  float:left;
  width: 300px;
  margin: 20px 0px 0px 0;
}

.column_right{
  float:right;
  width: 300px;
  margin:auto;
}


#our_cookies p{
  margin: 12px 0px 12px 0px;
} 

#our_merchandise>ul>{
  text-align: centered;
}

#our_merchandise>ul>li{
  display:inline-block;
  margin: 0px 10px 0px 0px;
  /* outline: dotted 2px red; */
  
}

#our_merchandise p{
  /* outline: dotted 2px red; */
  margin-top: 20px;
  margin-bottom: 20px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
} */

.cookies{
  display: inline-block;
}

form{
  width:400px;
  background-color: rgb(238, 187, 124);
  margin-top: 20px;
  display:inline-block; 
}
fieldset{
  margin-bottom: 5px;
  margin-top: 5px;
  text-align: right;
  
}

.store_form{
  text-align: center;
}

.submit{
  text-align: right;
}

table {
  margin: auto;
  /* width: 600px; */
}

table thead {
  background: beige;
  color: brown;
}

table tbody {
  background: rgb(245, 203, 89);
}

table tfoot {
  background: rgb(224, 175, 39)
}

table tfoot td {
  text-align: center;
}

table th, table td {
  padding: 0.5em;
  width: 3em;
}

table tbody tr:hover{
  background: rgb(134, 128, 128);
  color: #fff;
}